@import '../mixins/mixins';

.title {
    padding: (2 * $padding-10) 0;
    text-transform: uppercase;
    font-size: $font-size-title;
}

@media screen and (min-width: 650px) {
    .title {
        padding: (5 * $padding-10) 0;
    }
}