@import './variables';

@mixin btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 38px; // плохое предположение, кол-во текста в кнопках может быть много, лучше min-height, ещё лучше через padding
}
