$primary-color: #eee;
$secondary-color: #12121f;
$third-color: #167e56;

$background-color-calendar: #222227;
$background-color-task: #167e56;

$font-family: 'Lato', sans-serif;
$primary-font-size: 16px;
$secondary-font-size: 10px;
$font-size-title: 28px;

$padding-10: 10px;
$border: 2px solid #333;