<section class="section-tasks section-tasks--dark-theme">

    <header class="header-task section-tasks__header-task">
        Date: 30 October 2021
    </header>

    <main class="main-tasks section-tasks__main-task">
        <ul class="main-tasks__list">

            <li class="task main-tasks__task">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, delectus?</span>
                <button class="task__btn">
                    <span class="material-icons task__icon">
                        delete
                    </span>
                </button>
            </li>

            <li class="task main-tasks__task">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, delectus?</span>
                <button class="task__btn">
                    <span class="material-icons task__icon">
                        delete
                    </span>
                </button>
            </li>

            <li class="task main-tasks__task">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, delectus?</span>
                <button class="task__btn">
                    <span class="material-icons task__icon">
                        delete
                    </span>
                </button>
            </li>

        </ul>
    </main>

    <footer>
        <form class="footer-task">
            <input class="footer-task__input" type="text">
            <button type="submit" class="footer-task__btn">
                <span class="material-icons footer-task__icon">
                    add
                </span>
            </button>
        </form>
    </footer>

</section>