<div class="task tasks-board__task">
    <div class="text task__text" contenteditable="true">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam at expedita reprehenderit sequi beatae sed
        voluptates earum, omnis unde quos vitae porro adipisci fugit numquam consequuntur quisquam libero voluptate iste
        iure ab? Sapiente dolore ab ducimus sint delectus amet dolorem eligendi ipsam dolor laboriosam repudiandae
        officiis, commodi saepe ad quas, quasi doloremque architecto magnam. Amet excepturi labore tempore neque totam
        aliquam dolorum voluptate recusandae similique consequuntur, quis quas. Nostrum possimus voluptate quaerat omnis
        exercitationem sed laborum eius ut, quos ducimus quasi reprehenderit consequuntur similique temporibus at, alias
        iusto nesciunt dignissimos qui. Sint molestiae dolorem accusantium dolorum voluptas error temporibus
        repellendus.
    </div>
    <button class="btn" type="button">
        <i class="material-icons icon">remove_circle_outline</i>
    </button>
</div>