@import "mixins";
@import "variables";

.page {
    width: 100%;
    min-height: 100vh;
    background: $secondary-color;
    font-size: $primary-font-size;
    color: $primary-color;
    
    &__header {
        margin-bottom: 50px;
    }

    &__main { 
        margin: auto;
        padding: $offset;
    }
}

.header {
    text-align: center;
}

.main {
    max-width: 1200px;
    cursor: default;
}

.container {
    background-color: $background-color-calendar;
}

@media screen and (max-width: 1300px) {
    .main {
        max-width: 800px;
    }
}