//плохо подключаешь миксины
//есть способ лучше
//https://tyapk.ru/blog/post/scss-import-in-angular
@import './mixins/mixins';

.page {
    width: 100%;
    position: absolute; // это ещё зачем? таким образом ты выдираешь страницу из стандартного потока страницы, это критично и некорректно
    background: $secondary-color;
    font-size: $primary-font-size;
    color: $primary-color;

    &__header {
        text-align: center;
    }

    &__main {
        max-width: 400px;
        margin: auto;
        display: grid;
        padding: $padding-10;
        cursor: default;
    }
}

.main {
    &__container {
        background-color: $background-color-calendar;
    }
}

@media screen and (min-width: 650px) {
    .page {
        height: 100vh;

        &__main {
            grid-template-columns: 2fr 2fr;
            max-width: 800px;
        }
    }
}
