@import '../mixins/mixins';

.input-task {
    padding: $padding-10;

    &__container {
        padding: $padding-10;
        border: $border;
        display: flex;
        background-color: $primary-color;
    }

    // неверное применение БЭМ, это стили блока, а не элемента
    &__input {
        width: 100%;
        border: none;
        padding: $padding-10;
        background-color: inherit;
        outline:none;
    }

    &__btn {
        @include btn;
    }
}

.btn {
    &__icon {
        color: $secondary-color;
        transition: all 250ms;
    }

    &__icon:hover {
        color: $third-color;
    }
}
