@import "mixins";
@import "variables";

.task-board {
    background-color: $background-color-task;
}

.main__task-board {
    padding: $offset;
    display: grid;
    grid-row-gap: 10px;
}

.btn {
    @include btn;
    background-color: $background-color-calendar;
    color: $primary-color;
    transition: all 250ms;
}

.btn:hover {
    color: $third-color;
}