<div class="task-board">
    <div class="task-board__task">
        <div class="task-board__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium id modi, atque voluptate dicta
            impedit sapiente corrupti minima inventore, ea quo et sit eligendi molestiae cum voluptatem illum quae
            dolores ipsa ab. Dignissimos quia quis cupiditate, quibusdam totam doloribus fugit illum. Dolorem
            repudiandae recusandae cum quae assumenda, maiores quaerat inventore ipsam cupiditate molestiae sequi
            consequatur a porro omnis aut perferendis eum libero quam sed iste hic. Minima eaque optio a assumenda
            perspiciatis minus molestiae recusandae? Ad expedita, eligendi deleniti repellendus repellat nulla quod
            temporibus harum veritatis autem aliquam iste atque! Mollitia praesentium officiis rerum deserunt veniam
            est reiciendis debitis id!
        </div>
        <button class="task-board__btn" type="submit">
            <span class="material-icons btn__icon">remove_circle_outline</span>
        </button>
    </div>
    <div class="task-board__task">
        <div class="task-board__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt animi ut veniam, est accusantium quo!
        </div>
        <button class="task-board__btn" type="submit">
            <span class="material-icons btn__icon">remove_circle_outline</span>
        </button>
    </div>
    <div class="task-board__task">
        <div class="task-board__text">
            Lorem ipsum dolor sit amet.
        </div>
        <button class="task-board__btn" type="submit">
            <span class="material-icons btn__icon">remove_circle_outline</span>
        </button>
    </div>
    <div class="task-board__task">
        <div class="task-board__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium id modi, atque voluptate dicta
            impedit sapiente corrupti minima inventore, ea quo et sit eligendi molestiae cum voluptatem illum quae
            dolores ipsa ab. Dignissimos quia quis cupiditate, quibusdam totam doloribus fugit illum. Dolorem
            repudiandae recusandae cum quae assumenda, maiores quaerat inventore ipsam cupiditate molestiae sequi
            consequatur a porro omnis aut perferendis eum libero quam sed iste hic. Minima eaque optio a assumenda
            perspiciatis minus molestiae recusandae? Ad expedita, eligendi deleniti repellendus repellat nulla quod
            temporibus harum veritatis autem aliquam iste atque! Mollitia praesentium officiis rerum deserunt veniam
            est reiciendis debitis id!
        </div>
        <button class="task-board__btn" type="submit">
            <span class="material-icons btn__icon">remove_circle_outline</span>
        </button>
    </div>
    <div class="task-board__task">
        <div class="task-board__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium id modi, atque voluptate dicta
            impedit sapiente corrupti minima inventore, ea quo et sit eligendi molestiae cum voluptatem illum quae
            dolores ipsa ab. Dignissimos quia quis cupiditate, quibusdam totam doloribus fugit illum. Dolorem
            repudiandae recusandae cum quae assumenda, maiores quaerat inventore ipsam cupiditate molestiae sequi
            consequatur a porro omnis aut perferendis eum libero quam sed iste hic. Minima eaque optio a assumenda
            perspiciatis minus molestiae recusandae? Ad expedita, eligendi deleniti repellendus repellat nulla quod
            temporibus harum veritatis autem aliquam iste atque! Mollitia praesentium officiis rerum deserunt veniam
            est reiciendis debitis id!
        </div>
        <button class="task-board__btn" type="submit">
            <span class="material-icons btn__icon">remove_circle_outline</span>
        </button>
    </div>
</div>