@import '../mixins/mixins';

.task-board {
    background-color: $background-color-task; 
    padding: $padding-10;
    display: grid;
    grid-row-gap: 10px;

    &__task {
        padding: $padding-10;
        border: $border;
        display: flex;
        align-items: center;
        background-color: $primary-color;
    }

    &__text {
        width: 100%;
        padding: $padding-10;
        color: $secondary-color;
    }

    &__btn {
        @include btn;
    }
}

.btn {
    &__icon {
        color: $secondary-color;
        transition: all 250ms;
    }

    &__icon:hover {
        color: $third-color;
    }
}

@media screen and (min-width: 650px) {
    .task-board {
        height: 530px;
        overflow-y: scroll;
    }
}