<div class="calendar calendar--dark-theme">
    <div class="selector selector--dark-theme">
        <span class="material-icons selector__icon">arrow_left</span>
        <div class="date">
            <h1>October 2021</h1>
        </div>
        <span class="material-icons selector__icon">arrow_right</span>
    </div>
    <div class="week">
        <div class="week__days">Sun</div>
        <div class="week__days">Mon</div>
        <div class="week__days">Tue</div>
        <div class="week__days">Wed</div>
        <div class="week__days">Thu</div>
        <div class="week__days">Fri</div>
        <div class="week__days">Sat</div>
    </div>
    <div class="month">
        <div class="month__days">27</div>
        <div class="month__days">28</div>
        <div class="month__days">29</div>
        <div class="month__days month__days-currency">30</div>
        <div class="month__days">1</div>
        <div class="month__days">2</div>
        <div class="month__days">3</div>
        <div class="month__days">4</div>
        <div class="month__days">5</div>
        <div class="month__days">6</div>
        <div class="month__days">7</div>
        <div class="month__days">8</div>
        <div class="month__days">9</div>
        <div class="month__days">10</div>
        <div class="month__days">11</div>
        <div class="month__days">12</div>
        <div class="month__days">13</div>
        <div class="month__days">14</div>
        <div class="month__days">15</div>
        <div class="month__days">16</div>
        <div class="month__days">17</div>
        <div class="month__days">18</div>
        <div class="month__days">19</div>
        <div class="month__days">20</div>
        <div class="month__days">21</div>
        <div class="month__days">22</div>
        <div class="month__days">23</div>
        <div class="month__days">24</div>
        <div class="month__days">25</div>
        <div class="month__days">26</div>
        <div class="month__days">27</div>
        <div class="month__days">28</div>
        <div class="month__days">29</div>
        <div class="month__days">30</div>
        <div class="month__days">31</div>
    </div>
</div>