@import "mixins";
@import "variables";

.calendar {
    background-color: $background-color-calendar;
    
    &__table { 
        padding: 0 $offset;
    }
}

.month {
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    text-transform: uppercase;
    font-size: $secondary-font-size;
    transition: all 250ms;
    opacity: 0.3;
}

.month:hover {
    color: $third-color;
    opacity: 1;
}

.week-day {
    height: 26px;
    width: 26px;
    text-align: center;
    border: 2px solid transparent;
    line-height: 26px;
    text-transform: uppercase;
    font-size: $secondary-font-size;
}

.day {
    line-height: 26px;
    text-align: center;
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    transition: all 250ms;
}

.day:hover {
    border-color: $third-color;
    opacity: 1;
}

.table {
    width: 100%;

    &__month {
        padding-top: $offset;

        &--active {
            opacity: 1;
        }
    }

    &__week-day {
        padding: 0 $offset;
    }

    &__day {
        padding: $offset;

        &--other-month {
            opacity: 0.3;
        }

        &--active {
            background-color: $third-color;
        }

        &--task-day::after {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: '';
            background: $third-color;
        }
    }
}

@media screen and (min-width: 800px) {
    .table {
        &__month {
            padding-top: 2 * $offset;
        }

        &__week-day {
            padding: 2 * $offset $offset;
        }

        &__day {
            padding: 2 * $offset $offset;
        }
    }
}